/* styles.css */

window {
    background-color: #051a37;
    border: 1px solid white;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

button {
    background-color: #415077;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    border: 1px solid whitesmoke;
}

button:active {
    background-color: #051a37;
    box-shadow: 0 2px grey;
    transform: translateY(2px);
}

picture {
    background-color: #051a37;
    border-radius: 5px;
    border: 1px solid whitesmoke;

}

.rec_btn:hover {
    background-color: firebrick;
    color: white;
}

.keyboard-activating {
    background-color: rgb(107, 20, 20);
    box-shadow: 0 2px grey;
    transform: translateY(2px);
}

.rec_btn:active {
    background-color: rgb(107, 20, 20);
    box-shadow: 0 2px grey;
    transform: translateY(2px);
}

.rec_btn.recording {
    background-color: #ff4444;
    color: white;
    animation: pulse 1.5s infinite;
    border: 1px solid whitesmoke;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.custom-button {
    background: linear-gradient(to bottom, #1e3163, #3a4a72);
    color: white;
    border: 1px solid whitesmoke;
    
}

.custom-button:hover {
    background: linear-gradient(to bottom, #29629B, #254b80);
}

.custom-button:active {
    background: #2980b9;
}

.rec_btn {
    background: linear-gradient(to bottom, #e74c3c, #c0392b);
    border: 1px solid whitesmoke;
}

.rec_btn:hover {
    background: linear-gradient(to bottom, #c0392b, #e74c3c);
}

